<!DOCTYPE html>
<html>
<head>
    <title>Управление единицами машин</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Список единиц машин</h1>
    <p><a href="/add_car_copy">Добавить машину</a></p>
    <table>
        <tr><th>Госномер</th><th>Марка</th><th>Модель</th></tr>
        {{#each car_copy}}
            <tr>
                <td>{{this.state_num}}</td>
                <td>{{this.mark}}</td>
                <td>{{this.model}}</td>
                <td>
                    <a href="/edit_car_copy/{{this.id}}">Редактировать единицу машины</a>|
                    <form action="delete_car_copy/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
    <p><a href="/work">Назад</a></p>
</body>
<html>